<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios en JavaScript</title>
    <link rel="stylesheet" src="css/Styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <img src="img/js.svg" width="50" height="50" />
        <h1>Ejercicios en JavaScript</h1>
    </header>
    <nav class="navbar bg-primary" data-bs-theme="dark">
        <div class="btn-group me-2" role="group" aria-label="Second group">
            <select class="form-select" aria-label="Default select example">
                <option selected>Operadores</option>
                <option value="1"><a href="#1">Area triangulo</a></option>
                <option value="2">Suma</option>
                <option value="3">Cuadrados</option>
                <option value="4">Euros a dolares</option>
                <option value="5">Area y perimetro cuadrado</option>
                <option value="6">Area y volumen cilindro</option>
                <option value="7">Radio, longitud y area</option>
                    <a value="8" href="#asd">Promedio</a>
              </select>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Operadores
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" type="button"><a href="#asd">Area triangulo</a></button></li>
                    <li><button class="dropdown-item" type="button"><a href="#asd">Suma</a></button></li>
                    <li><button class="dropdown-item" type="button"><a href="#asd">Cuadrados</a></button></li>
                    <li><button class="dropdown-item" type="button"><a href="#asd">Euros a dolares</a></button></li>
                    <li><button class="dropdown-item" type="button"><a value="8" href="#asd">Area y perimetro cuadrado</a></button></li>
                    <li><button class="dropdown-item" type="button"><a value="8" href="#asd">Area y volumen cilindro</a></button></li>
                    <li><button class="dropdown-item" type="button"><a value="8" href="#asd">Radio, longitud y area</a></button></li>  
                    <li><button class="dropdown-item" type="button"><a value="8" href="#asd">Promedio</a></button></li>
                </ul>
              </div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Condicionales</option>
                <option value="1">Deteccion de positivos y negativos</option>
                <option value="2">Mayor o menor (2 numeros)</option>
                <option value="3">Mayor o menor (3 numeros positivos)</option>
                <option value="4">Suma o resta (A B)</option>
                <option value="5">Divicion</option>
                <option value="6">Suma y multiplicacion enteros</option>
                <option value="7">Año bisiesto</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>Ciclos</option>
                <option value="1">Multiplos de 3 entre 1-100</option>
                <option value="2">Numeros impares</option>
                <option value="3">Numeros pares</option>
                <option value="1">Cuadrados 1-30</option>
                <option value="2">Suma de cuadrados</option>
                <option value="3">Numeros comprendidos en un rango</option>
                <option value="1">Suma</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>Arreglos</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
    </nav>
    <main class="container-sm">
            <h2>
                Operadores
            </h2>
            <div class="container-md mt-4">
                <div class="position-relative">
                    <h3 id="1">
                        1. Calcular el área de un triángulo
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Altura</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Base</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0 ">
                            <button type="submit" class="btn btn-primary">Calcular</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        2. Ingresar dos números por teclado y sumarlos
                    </h3>
                    <form>
                        <div class="mt-3">
                          <label for="exampleInputEmail1" class="form-label">Numero 1</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mt-3 mb-3">
                          <label for="exampleInputPassword1" class="form-label">Numero 2</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0 pt-3">
                            <button type="submit" class="btn btn-primary">Sumar</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        3. Ingresar un número y visualizar el número elevado al cuadrado.
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Numero a elevar</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0">
                            <button type="submit" class="btn btn-primary">^2</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        4. Escribir un algoritmo que convierta de euros a dólares
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Euros</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0">
                            <button type="submit" class="btn btn-primary">Dolares</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        5. Escribir un algoritmo que pida el lado de un cuadrado y muestre el valor del área y del
                        perímetro
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Lado del cuadrado</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0">
                            <button type="submit" class="btn btn-primary">Area/Perimetro</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        6. Escribir un algoritmo que determine el área y el volúmen de un cilindro
                    </h3>
                    <form>
                        <div class="mt-3">
                          <label for="exampleInputEmail1" class="form-label">Lado</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mt-3 mb-3">
                          <label for="exampleInputPassword1" class="form-label">Radio</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0 pt-3">
                            <button type="submit" class="btn btn-primary">Area/Volumen</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        7. Realizar un algoritmo que lea el radio de una circunferencia y escriba la longitud de la misma y
                        el área (pi*r)^2 del círculo inscrito.
                        
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Radio circunferencia</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0">
                            <button type="submit" class="btn btn-primary">longitud/Area</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3>
                        7. Realizar un algoritmo que lea el radio de una circunferencia y escriba la longitud de la misma y
                        el área (pi*r)^2 del círculo inscrito.
                        
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Radio circunferencia</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0">
                            <button type="submit" class="btn btn-primary">longitud/Area</button>
                        </div>
                      </form>
                </div>
            </div>
            <div class="container-md mt-5">
                <div class="position-relative">
                    <h3 id="asd">
                        8. Calcular el promedio de tres (3) números ingresados por teclado
                        
                    </h3>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Numero 1</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Numero 2</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Numero 3</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          </div>
                        <br>
                        <br>
                        <div class="position-absolute bottom-0 end-0">
                            <button type="submit" class="btn btn-primary">Promedio</button>
                        </div>
                      </form>
                </div>
            </div>
    </main>
    <footer>
        <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Ejercicios en JavaScript</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-body-secondary">
              2 days ago
            </div>
          </div>
    </footer>
</body>
</html>